/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.form_title {
	color: white;
}
.navbar_title {
	font-family: Impact;
	color: purple;
	font-size: 34px;
	text-decorator:none;
	background: linear-gradient(270deg, purple 0%, #4B0082 70%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.navbar_title:hover {
	color:red;
	text-decoration: none;
}

.navbar_element {
	font-size: 19px;
}

body {
	background-image:
	linear-gradient(
		to right,
		#4B0082, purple
		);
}

.review_title {
	margin: 0 0 20px 0;
}
.reviews {
	padding: 15px 0;
	border-bottom: 1px solid #EAEAEA;
	.star-rating {
		padding-bottom: 8px;
	}
}
.carousel-caption {
	font-family: Baskerville;
	font-size: 15px;

}
.movie-title {
	color: white;
}


#menu > li.sub ul {
list-style: none;
position: absolute;
top: -1000em;
left: 0px;
}


#menu li.sub ul li a {
display: inline;
}

#menu > li.sub:hover ul {
top: 3em;
}

#menu{
text-align:left;
}

li{
display:inline-block;
}
