/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

* {
    font-family: ArialRoundedMtBold;
 }

.masthead {
   background-image: image-url("space.jpg");
   height: 295px;
   background-size: 100%;
   background-repeat: no-repeat;
}

.form_title {
	color: white;
}


.navbar_title {
	font-family: 'impact';
	color: #13b569;
	font-size: 34px;
	text-decorator:none;
	background: linear-gradient(270deg, #13b569 0%, #094f2e 70%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.navbar_title:hover {
	color:red;
	text-decoration: none;
}

.star_title {
	font-family: 'impact';
	color: #13b569;
	font-size: 25px;
	text-decorator:none;
	background: linear-gradient(180deg, #13b569 0%, #094f2e 70%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.star_image {
	max-width: 400px;
	min-width: 400px;
}

.index_urls{
	font-size: 34px;
	color: white;

}

.index_urls:hover {
	color: white;
	text-decoration: none;
	text-shadow: -1px 1px 8px orange, 1px -1px 8px yellow;
}

.navbar_element {
	font-size: 19px;
}

body {
	background-image:
	linear-gradient(
		to right,
		#094f2e, #13b569
		);
}

.review_title {
	margin: 0 0 20px 0;
}
.reviews {
	padding: 15px 0;
	border-bottom: 1px solid #EAEAEA;
	.star-rating {
		padding-bottom: 8px;
	}
}
.carousel-caption {
	font-size: 15px;

}
.movie-title {
	color: white;
}


#menu > li.sub ul {
list-style: none;
position: absolute;
top: -1000em;
left: 0px;
}


#menu li.sub ul li a {
display: inline;
}

#menu > li.sub:hover ul {
top: 3em;
}

#menu{
text-align:left;
}

li{
display:inline-block;
}

.review_avatar {
	width: 20%; 
	height: 50%; 
	float:left;
}
.review_rating {
	width: 60%; 
	height: 50%; 
	float:left;
}

.review_button {
	width: 20%; 
	height: 80%; 
	float:left; 
}
.purple {
	color: #13b569;
}

.btn-danger {
  	border-color: #094f2e;
  	background-color: linear-gradient(270deg, #094f2e 0%, #13b569 70%);
  	background: linear-gradient(270deg, #13b569 0%, #094f2e 70%);

}
.btn-danger:hover { 
	border-color: #094f2e;
	background-color: #13b569;
	background: linear-gradient(270deg, #13b569 0%, #094f2e 70%);
	
}
.btn-warning {
	border-color: #094f2e;
	ackground-color: #13b569;
	background: linear-gradient(220deg, #094f2e 0%, #13b569 70%);
}

.btn-warning:hover {
	border-color: #094f2e;
	ackground-color: #13b569;
	background: linear-gradient(220deg, #094f2e 0%, #13b569 70%);
}

.btn-info {
	border-color: #094f2e;
	ackground-color: #13b569;
	background: linear-gradient(320deg, #094f2e 0%, #13b569 70%);
}

.btn-info:hover {
	border-color: #094f2e;
	ackground-color: #13b569;
	background: linear-gradient(320deg, #094f2e 0%, #13b569 70%);
}

.btn-default {
	color: #094f2e;
	font-weight: bold;
}



.img-responsive {
	position: relative;
}

/** Slider **/

.bx-wrapper {
	position: relative;
	margin: 0 auto 60px;
	padding: 0;
	*zoom: 1;
}

.bx-wrapper img {
	max-width: 100%;
	display: block;
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {   
    border-color: orange;
    box-shadow: 0 1px 1px yellow inset, 0 0 8px orange;
    outline: 0 none;
}

.navbar_li:hover {

	text-shadow: -1px 1px 1px yellow, 1px -1px 1px yellow;
}

.dropdown-menu li:hover {
	text-shadow: -1px 1px 1px yellow, 1px -1px 1px yellow;
}

/** THEME
===================================*/

.bx-wrapper .bx-viewport {
	-moz-box-shadow: 0 0 5px #ccc;
	-webkit-box-shadow: 0 0 5px #ccc;
	box-shadow: 0 0 5px #ccc;
	border:  5px solid #fff;
	left: -5px;
	background: #fff;
	
	/*fix other elements on the page moving (on Chrome)*/
	-webkit-transform: translatez(0);
	-moz-transform: translatez(0);
    	-ms-transform: translatez(0);
    	-o-transform: translatez(0);
    	transform: translatez(0);
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
	position: absolute;
	bottom: -30px;
	width: 100%;
}

.container-fluid h2 { 
   position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%; 
}

/* LOADER */

.bx-wrapper .bx-loading {
	min-height: 50px;
	background: url(images/bx_loader.gif) center center no-repeat #fff;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}

/* PAGER */

.bx-wrapper .bx-pager {
	text-align: center;
	font-size: .85em;
	font-family: Arial;
	font-weight: bold;
	color: #666;
	padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	background: #666;
	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	outline: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #000;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
	left: 10px;
	background: url(images/controls.png) no-repeat 0 -32px;
}

.bx-wrapper .bx-next {
	right: 10px;
	background: url(images/controls.png) no-repeat -43px -32px;
}

.bx-wrapper .bx-prev:hover {
	background-position: 0 0;
}

.bx-wrapper .bx-next:hover {
	background-position: -43px 0;
}

.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 50%;
	margin-top: -16px;
	outline: 0;
	width: 32px;
	height: 32px;
	text-indent: -9999px;
	z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}

/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
	text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
	display: block;
	text-indent: -9999px;
	width: 10px;
	height: 11px;
	outline: 0;
	background: url(images/controls.png) -86px -11px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
	background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
	display: block;
	text-indent: -9999px;
	width: 9px;
	height: 11px;
	outline: 0;
	background: url(images/controls.png) -86px -44px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
	background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	text-align: left;
	width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
	right: 0;
	width: 35px;
}

/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #666\9;
	background: rgba(80, 80, 80, 0.75);
	width: 100%;
}

.bx-wrapper .bx-caption span {
	color: #fff;
	font-family: Arial;
	display: block;
	font-size: .85em;
	padding: 10px;
}
